/* PC */
@media (min-width:1024px) {

}

/* Tablet */
@media (min-width:740px) and (max-width:1024px) {

}

/* Mobile */
@media (max-width:740px) {
     #header{
          overflow: hidden;
     }

     #header .search-btn {
          display: none;
     }

     #header .menu-btn {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
     }

     #nav, #nav > li {
          display: block;
     }

     #nav > li:first-child{
          display: inline-block;
     }
     
     #nav .subnav{
          position: relative;
          background: #000;
     }

     #nav .subnav li a{
          color: #fff;
          padding: 0 30px;
     }

     #nav .subnav li:hover{
          background: #ccc;
     }

     #nav .subnav li:hover a{
          color: #000;
     }

     .col2-full{
          width: 100%;
     }

     #band .band-imgs img {
          height: auto;
          width: 60%;
     }

     #tour .tour-tickets .ticket-item {
          padding-bottom: 16px;
     }
      
     #contact .contact-form{
          margin-top: 16px;
     }
}